
@media(max-width:63em){
    .button--link{
        top:50rem
    }
    .subsection{
        width: 40rem;
    }
    .info{
        margin-left: -8.5rem;
    }
    .md-info{
        margin-left: -12rem;
    }
}

@media(max-width:30em){
    .button--link{
        top:50rem !important;
    }
    .subsection{
        width: 32rem;
    }
    .info{
        margin-left: 0rem;
    }
    .md-info{
        margin-left: -2.5rem;
    }
    .section-info{
        padding-left: 4.2rem ;
    }

    .container{
        height:56rem;
    }
}