
#n4{
    background-color: hsl(206, 94%, 87%);
    color: black;
}

#n2{
    background-color: hsl(243, 100%, 62%);
    color: white;
}

.btn--3{
    background-color:hsl(243, 100%, 62%);
    color: white;
    border: none;
    padding: 1.4rem 3.2rem;
    font-size: 1.6rem;
    font-family: inherit;
    border-radius: 1.2rem;
    margin-top: 3.4rem;
    position: relative;
    right: 13rem;
    cursor: pointer;
    margin-left: 12rem;
}

.btn--3:hover{
    background-color: hsl(228, 100%, 84%);
}

.summary-selction{
    width: 50rem;
    background-color: hsl(217, 100%, 97%);
    padding:2.4rem;
    border-radius: 1rem;
}

.plan-summary{
    display: flex;
    justify-content:space-between;
}

.change{
    font-size:1.5rem;
    color:hsl(243, 100%, 62%) !important;
    font-weight: 500;
}

.change:hover{
    text-decoration: underline;

}

.plan-summary-text,
.plat-summary-cost{
    font-size: 1.6rem;
    color: hsl(213, 96%, 18%);
    margin-bottom: 0.4rem;
    font-weight: 500;
   
}

.plan-summary{
    border-bottom: 1px solid hsl(231, 11%, 63%);
    padding-bottom: 2rem;
}

.first-addon{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.4rem;
}

.second-addon{
    display: flex;
    justify-content: space-between;
    margin-bottom: rem;
}

.addon-summary{
    padding-top: 2rem;
}

.addon-summary-text{
    font-size: 1.4rem;
    color: hsl(231, 11%, 63%);
}

.addon-summaty-cost{
    font-size: 1.4rem;
    color: hsl(231, 11%, 63%);
}

.total{
    margin-top: 0.5rem;
    width: 50rem;
    padding: 2.4rem;
    display: flex;
    justify-content: space-between;
}

.total-summary-text{
    font-size: 1.4rem;
    color: hsl(231, 11%, 63%);
}

.total-summary-cost{
    font-size:1.8rem;
    color: hsl(243, 100%, 62%);
    font-weight: 600;
}