
@media(max-width:63em){
    .summary-selction{
        width: 45rem;
    }

    .total{
        width: 46rem;
    }    

    .link-to-previous-page{
        display: inline-block;
    }

    .btn--3{
        margin-left: 4rem;
    }
}


@media(max-width:50em){
    .summary-selction{
        width: 40rem;
    }

    .total{
        width: 41rem;
    }    

    .link-to-previous-page{
        display: inline-block;
    }

    .btn--3{
        margin-left: 4rem;
    }
}

@media(max-width:30em){
    .summary-selction{
        width: 32rem;
        margin-left: -1.2rem;
    }

    .total{
        width: 33rem;
        margin-left: -1.3rem;
    }    

    .link-to-previous-page{
        display: inline-block;
    }

    .btn--3{
        margin-left: 36rem;
        padding-left: 2.4rem;
        top:-1.5rem
    }
    .info-text{
        padding-right: 1.4rem;
    }
    .button--link{
        top:48rem !important;

    }
    .container{
        height: 55rem;
    }
}
